@media all and (max-width: 900px){
	nav{
		padding: 5px 30px;
	}
	nav ul li.items{
		width: 100%;
		display: none;
	}
	nav ul li.items.show{
		display: block;
	}
	nav ul li.btn{
	display: block;
	}
	nav ul li.items:hover{
		border-radius: 8px;
		box-shadow: inset 0 0 7px white,
					inset 0 0 15px white;
	}
	nav ul li.items:hover:after{
		opacity: 0;
	}
	nav ul li a{
		font-size: 24px;
		padding: 0px;
		margin: 0px;
	}
}
@media all and (max-width: 900px){
	.header-title{
		width: 100%;
		padding: 15px 20px 10px 20px;
	}
	.header-search{
		width: 100%;
		padding-top: 0px;
		margin-top: 0px;
		padding-bottom: 20px;
	}
}

/* main content media query start*/
@media all and (max-width: 1050px){
	.content-main{
		width: 98%;
		margin-bottom: 15px;
	}
	.content-banner{
		width:90%;
	}
	.content-left{
		margin-top: 40px;
		line-height: 25px;
	}
}
@media all and (max-width: 1250px){
	.box{
		width: 31%;
	}
	.pool-block{
		width: 96%;
		margin:20px auto 20px auto;
		padding: 2px;
	}
	.about-box{
		text-align: center;
	}
	.imgbx{
		width: 100%;
	}
	.about-content{
		width: 100%;
	}
}
@media all and (max-width: 830px){
	.box{
		width: 48%;
	}
}
@media all and (max-width: 500px){
	.box{
		width: 96%;
	}
}

/*footer media query*/
@media screen and (max-width: 1250px){
	.footer-items{
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	.footer-items{
		width: 100%;
	}
}
/*footer media query ends*/

